In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from pathlib import Path

In [2]:
# Fixture df by season
p = Path('fixtures') 
files = list(p.glob(f'fixtures_*.csv'))
df_dict = {f.stem: pd.read_csv(f) for f in files}

# Team name - team id table
#team_lookup_df = pd.read_csv('clean_data/master_team_list.csv')

In [3]:
df_dict.keys()

dict_keys(['fixtures_19_20', 'fixtures_21_22', 'fixtures_22_23', 'fixtures_20_21', 'fixtures_18_19'])

In [9]:
df_dict['fixtures_19_20'].columns

Index(['code', 'event', 'finished', 'finished_provisional', 'id',
       'kickoff_time', 'minutes', 'provisional_start_time', 'started', 'stats',
       'team_a', 'team_a_difficulty', 'team_a_score', 'team_h',
       'team_h_difficulty', 'team_h_score'],
      dtype='object')

In [11]:
df_dict['fixtures_19_20'].groupby('team_h')['team_h_difficulty'].value_counts()

team_h  team_h_difficulty
1       2                    8
        3                    6
        4                    5
2       2                    7
        3                    7
        4                    5
3       3                    7
        2                    7
        4                    5
4       3                    7
        2                    7
        4                    5
5       2                    8
        3                    6
        4                    5
6       2                    8
        3                    7
        4                    4
7       2                    8
        3                    6
        4                    5
8       3                    7
        2                    7
        4                    5
9       2                    8
        3                    6
        4                    5
10      2                    8
        3                    7
        4                    4
11      2                    8
        3                    7
        4                    4
12      2                    8
        3                    7
        4                    4
13      2                    7
        3                    7
        4                    5
14      3                    7
        2                    7
        4                    5
15      2                    8
        3                    6
        4                    5
16      2                    8
        3                    6
        4                    5
17      2                    8
        3                    6
        4                    5
18      2                    7
        3                    7
        4                    5
19      2                    7
        3                    7
        4                    5
20      2                    8
        3                    7
        4                    4
Name: count, dtype: int64

In [33]:
temp = df_dict['fixtures_19_20'][['team_a', 'team_h', 'team_a_difficulty', 'team_h_difficulty']]

#### Notice that the difficulty rating takes "home vs away" into account

In [41]:
pd.concat([temp[(temp['team_a'] == 16) & (temp['team_h'] >= 17)], temp[(temp['team_h'] == 16) & (temp['team_a'] >= 17)].head()])

     team_a  team_h  team_a_difficulty  team_h_difficulty season
90       16      20                  2                  2  22_23
171      16      17                  2                  2  22_23
235      16      19                  3                  2  22_23
255      16      18                  4                  2  22_23
17       19      16                  2                  2  22_23
39       18      16                  2                  3  22_23
275      20      16                  2                  2  22_23
346      17      16                  2                  2  22_23

#### Generate the full lookup table

In [36]:
full_fixture_difficulty_df = pd.DataFrame()
for i in range(18, 23):
    name = 'fixtures_' + str(i) + '_' + str(i+1)
    temp = df_dict[name][['team_a', 'team_h', 'team_a_difficulty', 'team_h_difficulty']].copy()
    temp['season'] = str(i) + '_' + str(i+1)
    full_fixture_difficulty_df = pd.concat([full_fixture_difficulty_df, temp])

In [37]:
full_fixture_difficulty_df

     team_a  team_h  team_a_difficulty  team_h_difficulty season
0        11      14                  4                  3  18_19
1        17      15                  3                  4  18_19
2         5       2                  3                  2  18_19
3         7       9                  2                  2  18_19
4         6      10                  2                  4  18_19
..      ...     ...                ...                ...    ...
375       3       8                  2                  2  22_23
376      18      11                  2                  3  22_23
377      19      10                  3                  2  22_23
378       9      14                  4                  2  22_23
379      12      17                  2                  4  22_23

[1900 rows x 5 columns]

#### Un-comment to re-generate the table

In [42]:
#full_fixture_difficulty_df.to_csv('fixtures/full_fixture_difficulty.csv', index=False)