In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
from pathlib import Path

In [24]:
# Fixture df by season
p = Path('fixtures') 
files = list(p.glob(f'fixtures_*.csv'))
df_dict = {f.stem: pd.read_csv(f) for f in files}

# Team name - team id table
#team_lookup_df = pd.read_csv('clean_data/master_team_list.csv')

In [25]:
df_dict.keys()

dict_keys(['fixtures_19_20', 'fixtures_21_22', 'fixtures_22_23', 'fixtures_20_21', 'fixtures_18_19'])

In [28]:
df_dict['fixtures_19_20'].head()

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,1059702,1,True,True,1,2019-08-09T19:00:00Z,90,False,True,"[{'h': [{'value': 1, 'element': 183}, {'value'...",14,5,1,10,2,4
1,1059709,1,True,True,8,2019-08-10T11:30:00Z,90,False,True,"[{'h': [], 'a': [{'value': 3, 'element': 214},...",11,2,5,19,4,0
2,1059703,1,True,True,2,2019-08-10T14:00:00Z,90,False,True,"[{'h': [{'value': 1, 'element': 61}], 'a': [{'...",15,2,1,3,3,1
3,1059704,1,True,True,3,2019-08-10T14:00:00Z,90,False,True,"[{'h': [{'value': 2, 'element': 90}, {'value':...",16,3,0,5,3,3
4,1059705,1,True,True,4,2019-08-10T14:00:00Z,90,False,True,"[{'h': [], 'a': [], 'identifier': 'goals_score...",8,3,0,7,2,0

In [33]:
temp = df_dict['fixtures_19_20'][['team_a', 'team_h', 'team_a_difficulty', 'team_h_difficulty']]

#### Notice that the difficulty rating takes "home vs away" into account

In [41]:
pd.concat([temp[(temp['team_a'] == 16) & (temp['team_h'] >= 17)], temp[(temp['team_h'] == 16) & (temp['team_a'] >= 17)].head()])

     team_a  team_h  team_a_difficulty  team_h_difficulty season
90       16      20                  2                  2  22_23
171      16      17                  2                  2  22_23
235      16      19                  3                  2  22_23
255      16      18                  4                  2  22_23
17       19      16                  2                  2  22_23
39       18      16                  2                  3  22_23
275      20      16                  2                  2  22_23
346      17      16                  2                  2  22_23

#### Generate the full lookup table

In [36]:
full_fixture_difficulty_df = pd.DataFrame()
for i in range(18, 23):
    name = 'fixtures_' + str(i) + '_' + str(i+1)
    temp = df_dict[name][['team_a', 'team_h', 'team_a_difficulty', 'team_h_difficulty']].copy()
    temp['season'] = str(i) + '_' + str(i+1)
    full_fixture_difficulty_df = pd.concat([full_fixture_difficulty_df, temp])

In [37]:
full_fixture_difficulty_df

     team_a  team_h  team_a_difficulty  team_h_difficulty season
0        11      14                  4                  3  18_19
1        17      15                  3                  4  18_19
2         5       2                  3                  2  18_19
3         7       9                  2                  2  18_19
4         6      10                  2                  4  18_19
..      ...     ...                ...                ...    ...
375       3       8                  2                  2  22_23
376      18      11                  2                  3  22_23
377      19      10                  3                  2  22_23
378       9      14                  4                  2  22_23
379      12      17                  2                  4  22_23

[1900 rows x 5 columns]

#### Un-comment to re-generate the table

In [42]:
#full_fixture_difficulty_df.to_csv('fixtures/full_fixture_difficulty.csv', index=False)